<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Abacus Quiz </title>
<link href="./static/stylesheet.css" rel="stylesheet">
    <script src="./static/countdown.js"></script>
</head>
<body>



<form action="/submit" method="POST">
  <div class="container">
  
    <h1> <img src="../static/tlhlogo.png" alt="logo" style="float:right;width:166px;height:90px;">Abacus Quiz </h1
    <br>
    <label for="email"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" name="email" required>
<!--
    <label for="level"><b>Level:</b></label>
  <select id="level" name="level">
  <option value="level1">Basic</option>
  <option value="level2">Mover1</option>
  <option value="level3">Mover2/Flyer1</option>
  <option value="level4">Mover3/Flyer2</option>
  <option value="level5">Mover4/Flyer3</option>
  <option value="level6">Mover5/Flyer5</option>
  <option value="level7">Advance1</option>
  <option value="level8">Advance2</option>
  <option value="level7">Grand1</option>
  <option value="level8">Grand2</option>
</select>
-->

    <label for="level"><b>Level:</b></label>
  <select id="level" name="level">
  <option value="Advance2" selected>Advance2</option>
</select>
<hr> 
<div id="stopwatch">
      <!-- [DISPLAY TIMER] -->
      <!--<div id="sw-time">Time left: 03:00</div>-->
      <input type="text" value="Time: 00:00" id="sw-time" name="time" />
      
      <!-- [START/STOP BUTTON] -->
      <input type="button" value="Start Quiz" id="sw-go" onclick="show1();" disabled/>
    </div>
    
<br>

<!--Question1-->
<div id="questions">
<h1>1)  5486 + 2574 + 321 + 452</h1>
<label class="quiz">8733
  <input type="radio" checked="checked" name="q1" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">8843
  <input type="radio" name="q1" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">8823
  <input type="radio" name="q1" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">8833
  <input type="radio" name="q1" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q1" value="x">

  <span class="dummy"></span>

</label>
<!--Question2-->
<h1>2) 62.84 + 50.62 + 49.38 + 36.2</h1>
<label class="quiz">199.04
  <input type="radio"  name="q2" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">189.04
  <input type="radio" name="q2" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">199.40
  <input type="radio" name="q2" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">299.04
  <input type="radio" name="q2" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q2" value="x">

  <span class="dummy"></span>

</label>
<!--Question3-->
<h1>3) 654 x 8</h1>
<label class="quiz">5222
  <input type="radio"  name="q3" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">5242
  <input type="radio" name="q3" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">5232
  <input type="radio" name="q3" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">5332
  <input type="radio" name="q3" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q3" value="x">

  <span class="dummy"></span>

</label>
<!--Question4-->
<h1>4) 679 ÷ 7</h1>
<label class="quiz">97
  <input type="radio"  name="q4" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">98
  <input type="radio" name="q4" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">96
  <input type="radio" name="q4" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">99
  <input type="radio" name="q4" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q4" value="x">

  <span class="dummy"></span>

</label>
<!--Question5-->
<h1>5) 954 + 4852 + 35 - 2569</h1>
<label class="quiz">3262
  <input type="radio"  name="q5" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">3272
  <input type="radio" name="q5" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">3282
  <input type="radio" name="q5" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">3372
  <input type="radio" name="q5" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q5" value="x">

  <span class="dummy"></span>

</label>
<!--Question6-->
<h1>6) 1802 + 2365 + 4552 + 2652</h1>
<label class="quiz">11471
  <input type="radio"  name="q6" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">11371
  <input type="radio" name="q6" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">12371
  <input type="radio" name="q6" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">13371
  <input type="radio" name="q6" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q6" value="x">

  <span class="dummy"></span>

</label>
<!--Question7-->
<<h1>7) 210.2 + 15.32 + 20.654 + 23.25</h1>
<label class="quiz">369.424
  <input type="radio"  name="q7" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">279.424
  <input type="radio" name="q7" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">268.424
  <input type="radio" name="q7" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">269.424
  <input type="radio" name="q7" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q7" value="x">

  <span class="dummy"></span>

</label>
<!--Question8-->
<h1>8) 5268 ÷ 4</h1>
<label class="quiz">1217
  <input type="radio"  name="q8" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">1327
  <input type="radio" name="q8" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">1317
  <input type="radio" name="q8" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">1117
  <input type="radio" name="q8" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q8" value="x">

  <span class="dummy"></span>

</label>
<!--Question9-->
<h1>9) 982 x 6</h1>
<label class="quiz">5892
  <input type="radio"  name="q9" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">5792
  <input type="radio" name="q9" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">5992
  <input type="radio" name="q9" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">5882
  <input type="radio" name="q9" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q9" value="x">

  <span class="dummy"></span>

</label>
<!--Question10-->
<h1>10) 3652 + 1548 + 652 + 254</h1>
<label class="quiz">6006
  <input type="radio"  name="q10" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">6206
  <input type="radio" name="q10" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">6106
  <input type="radio" name="q10" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">6116
  <input type="radio" name="q10" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q10" value="x">

  <span class="dummy"></span>
</label>
<hr> 
 <input type="submit" value="Submit" class="btn" />
</div>
</form>


</body>
</html>