<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Abacus Quiz </title>
<link href="./static/stylesheet.css" rel="stylesheet">
    <script src="./static/countdown.js"></script>
</head>
<body>



<form action="/submit" method="POST">
  <div class="container">
  
    <h1> <img src="../static/tlhlogo.png" alt="logo" style="float:right;width:166px;height:90px;">Abacus Quiz </h1
    <br>
    <label for="email"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" name="email" required>
<!--
    <label for="level"><b>Level:</b></label>
  <select id="level" name="level">
  <option value="level1">Basic</option>
  <option value="level2">Mover1</option>
  <option value="level3">Mover2/Flyer1</option>
  <option value="level4">Mover3/Flyer2</option>
  <option value="level5">Mover4/Flyer3</option>
  <option value="level6">Mover5/Flyer5</option>
  <option value="level7">Advance1</option>
  <option value="level8">Advance2</option>
  <option value="level7">Grand1</option>
  <option value="level8">Grand2</option>
</select>
-->

    <label for="level"><b>Level:</b></label>
  <select id="level" name="level">
  <option value="grand1" selected>grand1</option>
</select>
<hr> 
<div id="stopwatch">
      <!-- [DISPLAY TIMER] -->
      <!--<div id="sw-time">Time left: 03:00</div>-->
      <input type="text" value="Time: 00:00" id="sw-time" name="time" />
      
      <!-- [START/STOP BUTTON] -->
      <input type="button" value="Start Quiz" id="sw-go" onclick="show1();" disabled/>
    </div>
    
<br>

<!--Question1-->
<div id="questions">
<h1>1)  26415 + 521 + 3624 + 254</h1>
<label class="quiz">30614
  <input type="radio" checked="checked" name="q1" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">30715
  <input type="radio" name="q1" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">30815
  <input type="radio" name="q1" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">30814
  <input type="radio" name="q1" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q1" value="x">

  <span class="dummy"></span>

</label>
<!--Question2-->
<h1>2) 5252 x 5</h1>
<label class="quiz">26260
  <input type="radio"  name="q2" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">26360
  <input type="radio" name="q2" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">26160
  <input type="radio" name="q2" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">25260
  <input type="radio" name="q2" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q2" value="x">

  <span class="dummy"></span>

</label>
<!--Question3-->
<h1>3) 5005 ÷ 7 </h1>
<label class="quiz">725
  <input type="radio"  name="q3" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">815
  <input type="radio" name="q3" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">715
  <input type="radio" name="q3" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">735
  <input type="radio" name="q3" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q3" value="x">

  <span class="dummy"></span>

</label>
<!--Question4-->
<h1>4) 51231 + 241 + 4587 - 45815</h1>
<label class="quiz">10244
  <input type="radio"  name="q4" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">10144
  <input type="radio" name="q4" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">11144
  <input type="radio" name="q4" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">11244
  <input type="radio" name="q4" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q4" value="x">

  <span class="dummy"></span>

</label>
<!--Question5-->
<h1>5) 45.236 + 251.2 + 23.15 + 35.456</h1>
<label class="quiz">455.042
  <input type="radio"  name="q5" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">355.042
  <input type="radio" name="q5" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">355.402
  <input type="radio" name="q5" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">355.204
  <input type="radio" name="q5" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q5" value="x">

  <span class="dummy"></span>

</label>
<!--Question6-->
<h1>6) 2658 + 521 + 1652 + 3021</h1>
<label class="quiz">7851
  <input type="radio"  name="q6" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">7852
  <input type="radio" name="q6" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">7853
  <input type="radio" name="q6" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">7862
  <input type="radio" name="q6" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q6" value="x">

  <span class="dummy"></span>

</label>
<!--Question7-->
<<h1>7) 9547 x 6</h1>
<label class="quiz">57281
  <input type="radio"  name="q7" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">57284
  <input type="radio" name="q7" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">57283
  <input type="radio" name="q7" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">57282
  <input type="radio" name="q7" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q7" value="x">

  <span class="dummy"></span>

</label>
<!--Question8-->
<h1>8) 256.02 + 241.3 + 56.29 + 30.25</h1>
<label class="quiz">583.68
  <input type="radio"  name="q8" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">582.86
  <input type="radio" name="q8" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">583.86
  <input type="radio" name="q8" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">582.68
  <input type="radio" name="q8" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q8" value="x">

  <span class="dummy"></span>

</label>
<!--Question9-->
<h1>9) 25698 + 5214 - 1542 + 2513</h1>
<label class="quiz">31883
  <input type="radio"  name="q9" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">31884
  <input type="radio" name="q9" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">31881
  <input type="radio" name="q9" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">32881
  <input type="radio" name="q9" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q9" value="x">

  <span class="dummy"></span>

</label>
<!--Question10-->
<h1>10) 8024 ÷ 8 </h1>
<label class="quiz">1004
  <input type="radio"  name="q10" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">1001
  <input type="radio" name="q10" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">1003
  <input type="radio" name="q10" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">1002
  <input type="radio" name="q10" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q10" value="x">

  <span class="dummy"></span>
</label>
<hr> 
 <input type="submit" value="Submit" class="btn" />
</div>
</form>


</body>
</html>