<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Abacus Quiz </title>
<link href="./static/stylesheet.css" rel="stylesheet">
    <script src="./static/countdown.js"></script>
</head>
<body>



<form action="/submit" method="POST">
  <div class="container">
  
    <h1> <img src="../static/tlhlogo.png" alt="logo" style="float:right;width:166px;height:90px;">Abacus Quiz </h1
    <br>
    <label for="email"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" name="email" required>
<!--
    <label for="level"><b>Level:</b></label>
  <select id="level" name="level">
  <option value="level1">Basic</option>
  <option value="level2">Mover1</option>
  <option value="level3">Mover2/Flyer1</option>
  <option value="level4">Mover3/Flyer2</option>
  <option value="level5">Mover4/Flyer3</option>
  <option value="level6">Mover5/Flyer5</option>
  <option value="level7">Advance1</option>
  <option value="level8">Advance2</option>
  <option value="level7">Grand1</option>
  <option value="level8">Grand2</option>
</select>
-->

    <label for="level"><b>Level:</b></label>
  <select id="level" name="level">
  <option value="Mover2" selected>Mover2</option>
</select>
<hr> 
<div id="stopwatch">
      <!-- [DISPLAY TIMER] -->
      <!--<div id="sw-time">Time left: 03:00</div>-->
      <input type="text" value="Time: 00:00" id="sw-time" name="time" />
      
      <!-- [START/STOP BUTTON] -->
      <input type="button" value="Start Quiz" id="sw-go" onclick="show1();" disabled/>
    </div>
    
<br>

<!--Question1-->
<div id="questions">
<h1>1)  13 + 8 - 4 + 5</h1>
<label class="quiz">23  
  <input type="radio" checked="checked" name="q1" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">21
  <input type="radio" name="q1" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">12
  <input type="radio" name="q1" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">22
  <input type="radio" name="q1" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q1" value="x">

  <span class="dummy"></span>

</label>
<!--Question2-->
<h1>2) 29 + 18 - 38 + 24</h1>
<label class="quiz">32
  <input type="radio"  name="q2" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">33
  <input type="radio" name="q2" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">31
  <input type="radio" name="q2" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">34
  <input type="radio" name="q2" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q2" value="x">

  <span class="dummy"></span>

</label>
<!--Question3-->
<h1>3) 35 + 13 - 37 + 19</h1>
<label class="quiz">30
  <input type="radio"  name="q3" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">40
  <input type="radio" name="q3" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">20
  <input type="radio" name="q3" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">29
  <input type="radio" name="q3" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q3" value="x">

  <span class="dummy"></span>

</label>
<!--Question4-->
<h1>4) 62 + 28 - 17 + 18</h1>
<label class="quiz">94
  <input type="radio"  name="q4" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">93
  <input type="radio" name="q4" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">91
  <input type="radio" name="q4" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">92
  <input type="radio" name="q4" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q4" value="x">

  <span class="dummy"></span>

</label>
<!--Question5-->
<h1>5) 75 + 15 - 23 + 28</h1>
<label class="quiz">85
  <input type="radio"  name="q5" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">95
  <input type="radio" name="q5" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">94
  <input type="radio" name="q5" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">93
  <input type="radio" name="q5" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q5" value="x">

  <span class="dummy"></span>

</label>
<!--Question6-->
<h1>6) 47 - 19 + 17 - 26</h1>
<label class="quiz">16
  <input type="radio"  name="q6" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">18
  <input type="radio" name="q6" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">17
  <input type="radio" name="q6" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">19
  <input type="radio" name="q6" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q6" value="x">

  <span class="dummy"></span>

</label>
<!--Question7-->
<<h1>7) 33 - 24 + 16 + 15</h1>
<label class="quiz">30
  <input type="radio"  name="q7" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">40
  <input type="radio" name="q7" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz"38
  <input type="radio" name="q7" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">39
  <input type="radio" name="q7" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q7" value="x">

  <span class="dummy"></span>

</label>
<!--Question8-->
<h1>8) 26 + 15 - 37 + 26</h1>
<label class="quiz">26
  <input type="radio"  name="q8" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">29
  <input type="radio" name="q8" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">30
  <input type="radio" name="q8" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">27
  <input type="radio" name="q8" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q8" value="x">

  <span class="dummy"></span>

</label>
<!--Question9-->
<h1>9) 56 + 39 - 27 + 17</h1>
<label class="quiz">85
  <input type="radio"  name="q9" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">86
  <input type="radio" name="q9" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">84
  <input type="radio" name="q9" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">75
  <input type="radio" name="q9" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q9" value="x">

  <span class="dummy"></span>

</label>
<!--Question10-->
<h1>10) 64 + 18 - 28 + 37</h1>
<label class="quiz">92
  <input type="radio"  name="q10" value="a">
  <span class="checkmark"></span>
</label>
<label class="quiz">91
  <input type="radio" name="q10" value="b">
  <span class="checkmark"></span>
</label>
<label class="quiz">94
  <input type="radio" name="q10" value="c">
  <span class="checkmark"></span>
</label>
<label class="quiz">93
  <input type="radio" name="q10" value="d">
  <span class="checkmark"></span>
</label> 
<label class="quiz">

  <input type="radio" checked="checked" name="q10" value="x">

  <span class="dummy"></span>
</label>
<hr> 
 <input type="submit" value="Submit" class="btn" />
</div>
</form>


</body>
</html>
